.login-container {
    background-color: #f0f2f5;

    .content-left {
        margin-top: 1.5rem;
    }

    .content-right {
        .login-box {
            border-radius: 1rem;

            .forgotten-password {
                cursor: pointer;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}